body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box ;
  /* margin: ;
  border box: ; */
}

.header {
  background-color: #004175;
  color: white;
  border-bottom: #89DEEF 2px solid;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.sub-header {
  padding-left: 0.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: 100px 100px 100px; 
  grid-template-rows: 100px 100px 100px;
  grid-gap: 0.5em ;
  
}
.child-styling {
  /* width: 50px;
  height: 50px; */
  padding: 1em;  
  border: .05em solid;
  /* background: #004175;  */
}

.image-style { 
  height: 200px;
  width: 200px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
